/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;;
}

html {
    scroll-behavior: smooth;
}

/* SECTIONS */
section {
    width: 100%;
    height: 100vh;
    position: relative;
}

section:first-of-type {
    background-color: red;
    color: yellow;
}

section:nth-of-type(2) {
    background-color: green;
    color: red;
}

section:nth-of-type(3)  {
    background-color: yellow;
    color: green;
}

/* SECTIONS CONTENT */
.container {
    margin: 0 auto;
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    text-align: center;
    border-radius: 20px;
}

.container img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: -100px;
}

.container h2 {
    text-transform: uppercase;
}

/* NAVIGATOR */
nav {
    position: fixed;
    top: 50px;
    right: 20px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

nav ul li {
    list-style: none;
    float: left;
    margin: 0 15px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    font-weight: 700;
    color: currentColor;
    font-size: 18px;
    cursor: pointer;
}

nav ul a:hover {
    transform: scale(1.08);
    opacity: 0.8;
    font-size: 21px;
}