* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100vh;
    position: relative;
}

section:first-of-type {
    background-color: red;
}

section:nth-of-type(2) {
    background-color: green;
}

section:nth-of-type(3)  {
    background-color: yellow;
}

.container {
    text-align: center;
}

